.App {
  //text-align: center;
  max-width: 100vw;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: gray;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  max-width: 600px;
  margin: auto;
}

.post-content {
    padding: 2rem;
    border-bottom: 1px solid gray;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.post-content p, pre {
  word-wrap: break-word;
}

pre {
  overflow-x: hidden;
}


p, li {
  max-width: 760px;
}


img {
    max-width: 100% !important;
}

.svg-icon {
  height: 32px;
  width: 32px;
}

.svg-icon svg {
  height: 32px;
  width: 32px;
}

.svg-icon svg:hover {
  fill: orange;
  transition-duration: 250ms;
}


.bar-chart-container {
    margin: 2rem;
    width: 50%;
    height: auto;
    width: auto;
  }
  