$accent: #6C5B7B;

.App {
  //text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  margin-bottom: 8rem;
}


.App-header {
  background-color: $accent;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  overflow-x: hidden;
}

figure {
  max-width: 600px;
}

.post-content {
    padding: 2rem;
    border-bottom: 1px solid gray;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.post-content p, pre {
  word-wrap: break-word;
}

pre {
  overflow-x: hidden;
}


p, li {
  max-width: 760px;
}


img {
    max-width: 100% !important;
}

.svg-icon {
  height: 32px;
  width: 32px;
}

.svg-icon svg {
  height: 32px;
  width: 32px;
}

.svg-icon svg:hover {
  fill: $accent;
  transition-duration: 250ms;
}

//D3
.tick {
  font-size: 2rem;
}